/*
RESET CSS
by Eric Meyer
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
HOME PAGE
*/

body {
	font-size: 16px;
}
img {
	width: 100%;
	max-height: auto;
	display: block;
}
h1, h2, h3, h4, h5, h6, p, a {
	font-family: helvetica;
	color: #FAFAFA;
}
.main-container {
	background: url('../img/bg-resized.jpg'); /*https://static.pexels.com/photos/147635/pexels-photo-147635.jpeg-license: creative common*/
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 75vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.infos {
	width: 100%;
	margin-bottom: 32px;
}
.infos img {
	width: 125px;
	border-radius: 100%;
	margin: 0 auto;
	margin-bottom: 16px;
}
.infos a {
	text-decoration: none;
}
.infos h2, .infos p {
	text-align: center;
}
.infos h2 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 8px;
	color: #EBE7E7;
}
.infos h2 span {
	color: #FF5D1C;
}
.tag {
	position: relative;
}
.tag-line {
	height: 2px;
	width: 40%;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	background: #FF5D1C;
	z-index: 2;
}
.tag p {
	width: 12%;
	margin: 0 auto;
	position: relative;
	font-family: Roboto;
	text-transform: uppercase;
	font-size: 9px;
	color: #FF5D1C;
	letter-spacing: 1.1px;
	font-weight: bold;
	display: block;
	z-index: 3;
	background: #222;
}
nav ul {
	display: block;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
	text-decoration: none;
	color: #FAFAFA;
	margin: 0px 16px;
	font-weight: bold;
	color: #FF5D1C;
	filter: blur(0.5px);
	border-bottom: 2px solid #FF5D1C;
	transition: all 0.4s linear;
}
nav ul li a:hover {
	filter: blur(0px);
}
footer {
	width: 100%;
	height: 25vh;
	background: #222;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0px -4px 21px -8px rgba(0,0,0,0.75);
}
#contacts a {
	text-decoration: none;
	color: #EBE7E7;
}
#social-links {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#social-links img {
	width: 25px;
	padding: 32px 16px;
	transition: all 0.4s linear;
}
#social-links img:hover {
	filter: blur(2px);
}
#contacts p {
	color: #FF5D1C;
	font-size: 14px;
	background: #222;
}
@media only screen and (max-width: 480px) {
	.infos h2 {
		font-size: 24px;
	}
	.tag-line {
		display: none;
	}
	.tag p {
		width: 40%;
		background: transparent;
		font-weight: normal;
	}
}

/*
OTHER PAGES
*/
#profile-main-container {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
}
#profile-left-section {
	width: 38.2%;
	position: fixed;
}
#profile-right-section {
	width: 61.8%;
	margin-left: 38.2%;
	padding: 32px 64px;
}
#profile-left-section .main-container {
	background: #222;
}
.tag .page-indicator {
	width: 14%;
}
.sub-title {

}
.sub-title h3 {
	font-size: 48px;
	font-weight: bold;
	color: #f02f17;
	text-align: right;
	margin-bottom: 12px;
}
.horizontal-line {
	width: 100%;
	height: 4px;
	background: linear-gradient(to right, rgba(34,34,34,1) 0%, rgba(255,93,28,1) 100%);
}
.page-sections {
	width: 100%;
	margin-top: 32px;
}